h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.neverlandtitle {
  text-align: center;
}

.minicolumns {
  padding-top: 10px;
}

.lead {
  margin-bottom: 0px;
  font-size: 16px;
}

.alert {
  margin: 10px;
  padding: 5px;
  border-color: darkgrey;
}

.panel-info {
  background-color: #f7fbfc;
}

.panel-success {
  background-color: #f8fcf7;
}

.panel-danger {
  background-color: #fcf7f7;
}

.threerows [class*="col"] {
  padding: 5px;
}

.panel {
  margin: 0px;
}

.well {
  margin: 0px;
}
